################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExternalSorting/.vs
/ExternalSorting/bin/Debug/net8.0
/ExternalSorting/obj
